.container {
  margin: 50px auto;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

$blue: rgb(22, 39, 33);

h1 
{ 
    color: $blue;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}